body {
  font-family: Arial, sans-serif; 
  background-color: #fffefe;
  text-align: center;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #9d0303;
}

p {
  color: #555;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap; 
  margin-top: 20px;
}

.card {
  background-color: white;
  width: 200px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s; 
}


.card:hover {
  transform: scale(1.05); 
}
.card img {
  margin-bottom: 10px;
  size: 200px;
  padding: 0px;
}

.card h3 {
  color: #8B0000;
  margin: 10px 0 5px;
}

.card p {
  color: #333;
  font-size: 14px;
}
/* For small screens */
@media (max-width: 600px) {
  body {
    padding: 10px;
  }

  header img {
    width: 60px;
  }

  h1 {
    font-size: 22px;
  }

  p {
    font-size: 14px;
  }

  .cards {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .card {
    width: 90%;
    max-width: 250px;
  }

  .card img {
    width: 35px;
  }
}

/* For medium screens */
@media (min-width: 601px) and (max-width: 1024px) {
  h1 {
    font-size: 26px;
  }

  p {
    font-size: 15px;
  }

  .cards {
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
  }

  .card {
    width: 220px;
  }
}

/* For large screens*/
@media (min-width: 1025px) {
  h1 {
    font-size: 28px;
  }

  p {
    font-size: 16px;
  }

  .cards {
    justify-content: center;
    gap: 30px;
  }

  .card {
    width: 230px;
  }
}
